/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 2200px;
  margin: 0 auto;
  padding: 20px;
}

header,
nav,
main,
footer {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.col-1 {
  flex: 0 0 8.33%; /* 1/12 */
}

.col-2 {
  flex: 0 0 16.66%; /* 2/12 */
}

.col-4 {
  flex: 4;
}

.col-6 {
  flex: 6;
}

.center {
  justify-content: center;
  align-items: center;
}

.colcenter {
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.image1,
.image2 {
  position: absolute;
  width: 60%; /* Set your image width */
  height: 90%; /* Set your image height */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .image1 {
  bottom: 0;
  left: 0;
}
.image2 {
  top: 0;
  right: 0;
} */
.image2 {
  /* Adjust the distance between the images as needed */
  top: calc(50% - 50px);
  left: calc(50% + 50px);
}
